<body class="page">

  <ion-header class="header">
    <img src="../../assets/PadoLabsLogo.png" alt="logo" width="150" hight="78">
  </ion-header>
  
  <ion-content> 
    
    <div class="container">

     
        <div class="completar">
          <!-- <label for="nome"></label> -->
          <ion-input class="input" [(ngModel)]="userName" type="text" placeholder=" NOME COMPLETO"></ion-input>
        </div>
        
        <div class="completar">
          <!-- <label for="email" name="email"></label> -->
          <ion-input class="input" [(ngModel)]="userEmail" type="text"  placeholder=" EMAIL"></ion-input>
        </div>
        
        <div class="completar">
          <!-- <label for="senha"></label> -->
          <ion-input class="input" [(ngModel)]="userPassword" type="password"  placeholder=" SENHA"></ion-input>
        </div>
        
        <div class="completar"> 
          <!-- <label for="uf"></label> -->
          <ion-input class="input" [(ngModel)]="userUf" type="text" placeholder=" UF"></ion-input>
        </div>
        
        <div class="completar">
          <!-- <label for="cidade"></label> -->
          <ion-input class="input" [(ngModel)]="userCity" type="text" placeholder="CIDADE"></ion-input>
        </div>
        
        <ion-button (click)="onSubmit()" Class=" button-rg" expand="block">REGISTRAR</ion-button>
   
      
      
      <ion-button (click)='goToPage("login")' class="button-v" expand="block">VOLTAR</ion-button>
    </div>
    </ion-content>
    
  </body>
  