<div class="page">
  <ion-header class="header">
    <img src="../../assets/PadoLabsLogo.png" alt="logo" width="150" hight="78">
  </ion-header>
  
  <ion-content [fullscreen]="true">

    <ion-breadcrumbs>
      <ion-breadcrumb href="#regioes">Região</ion-breadcrumb>
      <ion-breadcrumb href="#cidades">norte</ion-breadcrumb>
    </ion-breadcrumbs>
  
    <div class="cidades" *ngFor="let myData of getData()">
      <ion-card class="card">
        <ion-card-header>
          <img src="../../assets/Foto.png" alt="FotoLondrina">
          <p class="sub-title">DESTINO</p>
          <ion-card-title class="title">{{myData.destino}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p class="description">{{myData.description}}</p>
          <ion-button (click)='goToPage(myData.cidade)' class="sub-title" expand="full" >VISUALIZAR CIDADE</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    
  </ion-content>
  </div>