.header{
    display: flex;
    justify-content:center;
    background-color: #19133E;
  }

  p{
    color: #000000;
  }

  .description{
      font-size:13px;
      background-color: #FFFFFF;
      color: #000000;
  }

  .conteiner-lists{
      margin:17px;
  }

  .list{
      font-size:20px;
  }

  .sub-title{
    margin:17px;
    font-size:12px;
  }

  .title{
    font-size:20px;
    color: #000000;
  }
  
  .sub-title{
    font-size:12px;
  }

  .card{
    background-color: #FFFFFF;
  }
