<div class="page">
  <ion-header class="header">
    <img src="../../assets/PadoLabsLogo.png" alt="logo" width="150" hight="78">
  </ion-header>
  
  <ion-content [fullscreen]="true">

    <ion-breadcrumbs>
      <ion-breadcrumb href="#regioes">Região</ion-breadcrumb>
      <ion-breadcrumb href="#cidades">norte</ion-breadcrumb>
    </ion-breadcrumbs>
  
    <div class="cidades" *ngFor="let cidade of Cidades">
      <ion-card class="card">
        <ion-card-header>
          <img src="{{cidade.imagem}}" alt="FotoLondrina">
          <p class="sub-title">DESTINO</p>
          <ion-card-title class="title">{{cidade.Cidade}}, {{cidade.UF}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p class="description">{{cidade.descricao_curta}}</p>
          <ion-button (click)='goToPage(myData.cidade)' class="sub-title" expand="full" >VISUALIZAR CIDADE</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    
  </ion-content>
  </div>