<ion-header class="header">
  <img src="../../assets/PadoLabsLogo.png" alt="logo" width="150" hight="78">
</ion-header>

<ion-content>

  <ion-breadcrumbs>
    <ion-breadcrumb href="#home">Home</ion-breadcrumb>
    <ion-breadcrumb href="#cidade">Cidade</ion-breadcrumb>
    <ion-breadcrumb href="#lista">Lista</ion-breadcrumb>
    <ion-breadcrumb href="#londrina">Londrina</ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-card class="card">
    <ion-card-header>
      <img src="../../assets/Foto.png" alt="FotoLondrina">
      <p class="sub-title">DESTINO</p>
      <ion-card-title class="title">LONDRINA, PR</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p class="description">Londrina (pronúncia no IPA: [lõˈdɾinɐ]) é um município brasileiro localizado no estado do Paraná, na Região Sul do Brasil, distando 381 km da capital paranaense, Curitiba. É considerada pela CGU a cidade mais transparente do Paraná.[8] Sua população, conforme estimativas do IBGE de 2021, era de 580 870 habitantes,[4] sendo a segunda cidade mais populosa do estado e a quarta da Região Sul, depois da capital estadual, Curitiba, de Porto Alegre e Joinville. Importante polo de desenvolvimento estadual e regional, Londrina é um importante eixo que liga o Sul ao Sudeste do país, sendo um importante centro urbano, econômico, industrial, financeiro, administrativo e cultural do norte do Paraná.
        Fundada em 10 de dezembro de 1934 através do Decreto Estadual nº 2519[9] com traçado urbanístico planejado pelo urbanista Jorge Macedo Vieira, seguindo o princípio de Ebenezer Howard de cidade-jardim.[10] A cidade floresceu e experimentou um alto índice de crescimento populacional e econômico durante todo o século XX, amparado inicialmente pelo plantio e comercialização do café, tendo Londrina ganhado a alcunha de "Capital do Café" naquele período. A partir dos anos 1970, o perfil econômico londrinense foi se alterando progressivamente, tendo evoluído para um importante e diversificado centro industrial e econômico regional, até se tornar uma das principais cidades do interior do Brasil. Sede da Região Metropolitana de Londrina (RML), o segundo maior aglomerado urbano do estado, da qual é sede, que contava com uma população estimada em 1 057 660 habitantes em 2013.</p>
    </ion-card-content>
  </ion-card>

  <ion-accordion-group class="conteiner-lists">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <b>População</b>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p class="description">575.377 (1 de jul. de 2020)</p>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <b>Area total</b>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p class="description">1.651 km²</p>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <b >Prefeito</b>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p class="description">Marcelo Belinati</p>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <b>Altitude</b>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p class="description">610 m</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>


  

  <ion-button (click)='goToPage()' class="sub-title" expand="full">VOLTAR</ion-button>


</ion-content>
