<body class="page">

  <ion-header class="header">
  <ion-icon class="setaHeader" name="arrow-back-outline"></ion-icon>
  <h3>AJUDA</h3>
  <div class="espaco"></div>
  </ion-header>

  <ion-content class="principal">

    <div class="titulo">
      <h1>Ajuda</h1>
      <div id="linha"></div>
    </div>

    <div class="opcoes">
      <div class="opcaoTxt">
        <p>Como conectar com a alexa?</p>
          <ion-icon class="setaOpcao" name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="opcaoTxt">
        <p>Manual de instalação</p>
        <ion-icon class="setaOpcao" name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="opcaoTxt">
        <p>Minha fechadura não abre remotamente</p>
        <ion-icon class="setaOpcao" name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="opcaoTxt">
        <p>Como abrir a fechadura remotamente?</p>
        <ion-icon class="setaOpcao" name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="opcaoTxt">
        <p>Como adicionar uma nova EKEY?</p>
        <ion-icon class="setaOpcao" name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="opcaoTxt">
        <p>Como adicionar um novo CARTÃO?</p>
        <ion-icon class="setaOpcao" name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="opcaoTxt">
        <p>Meu cartão não abre a fechadura</p>
        <ion-icon class="setaOpcao" name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="opcaoTxt">
        <p>O que é um GATEWAY?</p>
        <ion-icon class="setaOpcao" name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="opcaoTxt">
        <p>Como trocar o nome da minha fechadura?</p>
        <ion-icon class="setaOpcao" name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

  </ion-content>
</body>
<ion-footer>
  <div class="footer">
    <ion-icon class="footer_image" (click)='goToPage("home")' name="home-outline"></ion-icon>
    <ion-icon class="footer_image" (click)='goToPage("favorito")' name="star-outline"></ion-icon>
    <ion-icon class="footer_image" (click)='goToPage("perfil")' name="person-outline"></ion-icon>
  </div>
</ion-footer>