<body class="page">
<ion-header class="header">
  <img src="../../assets/PadoLabsLogo.png" alt="logo" width="150" hight="78">
</ion-header>
  
<ion-content> 
  <h3>SELECIONE UMA REGIÃO</h3>

  <div class="fundo">
    <p>NORTE</p>
  </div>

  <div class="fundo">
    <p>SUL</p>
  </div>

  <div class="fundo">
    <p>LESTE</p>
  </div>

  <div class="fundo">
    <p>OESTE</p>
  </div>

  <div class="fundo">
    <p>NORDESTE</p>
  </div>

  <div class="fundo">
    <p>SUDESTE</p>
  </div>

  <div class="fundo">
    <p>SUDOESTE</p>
  </div>

  <div class="fundo">
    <p>NOROESTE</p>
  </div>

  <div class="menu">
    <img src="../../assets/home-outline 1.png">
    <img src="../../assets/home-outline 1.png">
    <img src="../../assets/home-outline 1.png">
  
  </div>
</ion-content>
</body>

<ion-footer> 
</ion-footer>

<ion-footer class="footer" collapse="fade">
  <ion-toolbar class="toolbar">
    <div class="menu">
      <img class="img-n" src="../../assets/home-outline 1.png">
      <img class="img-n" src="../../assets/Vector.png">
      <img class="img-n" src="../../assets/person-outline 1.png">
    </div>
  </ion-toolbar>
</ion-footer>