  <ion-header class="header">
    <img src="../../assets/PadoLabsLogo.png" alt="logo" width="150" hight="78">
  </ion-header>
      
  <ion-content class="ion-padding"> 
    <h3>SELECIONE UMA REGIÃO</h3>

    <div class="regioes" *ngFor="let myData of getData()">
      <div (click)='goToPage(myData.title)'class="fundo">
        <p>{{myData.title}}</p>
      </div>
    </div>

  </ion-content>
  <ion-footer>
    <div class="footer">
      <ion-icon class="footer_image" (click)='goToPageMenu("regioes")' name="home-outline"></ion-icon>
      <ion-icon class="footer_image" (click)='goToPageMenu("favorito")' name="star-outline"></ion-icon>
      <ion-icon class="footer_image" (click)='goToPageMenu("perfil")' name="person-outline"></ion-icon>
    </div>
  </ion-footer>
