<ion-header class="header">
  <img src="../../assets/PadoLabsLogo.png" alt="logo" width="150" hight="78">
</ion-header>

<ion-content>

  <ion-breadcrumbs>
    <ion-breadcrumb href="#regioes">Região</ion-breadcrumb>
    <ion-breadcrumb href="#cidades"> norte</ion-breadcrumb>
    <ion-breadcrumb href="#londrina">Londrina</ion-breadcrumb>
  </ion-breadcrumbs>

<ion-content>
  {{Cidade.Cidade}}  
</ion-content>

  <!-- <div class="cidade" *ngFor="let myData of getData()">
    <ion-card class="card">
      <ion-card-header>
        <img src="../../assets/Foto.png" alt="FotoLondrina">
        <p class="sub-title">DESTINO</p>
        <ion-card-title class="title">{{myData.destino}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p class="description">{{myData.description}}</p>
      </ion-card-content>
    </ion-card>

    <ion-accordion-group class="conteiner-lists">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <b>População</b>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p class="description">{{myData.populacao}}</p>
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <b>Area total</b>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p class="description">{{myData.area}}</p>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <b >Prefeito</b>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p class="description">{{myData.prefeito}}</p>
        </div>
      </ion-accordion>
      <ion-accordion value="fourth">
        <ion-item slot="header" color="light">
          <b>Altitude</b>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p class="description">{{myData.autitude}}</p>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div> -->

  <ion-button (click)='goToPage("cidades")' class="sub-title" expand="full">VOLTAR</ion-button>
</ion-content>
