<body class="page">

    <ion-header class="header">
        <img src="../../assets/PadoLabsLogo.png" alt="logo" width="150" hight="78">
    </ion-header>
        
    <ion-content> 
        
        <div class="container">

            <form class="formulario">
            <div class="completar"> 
                <label for="login"></label>
                <input class="input" type="text" id="uf" placeholder=" EMAIL"/>
            </div>
            
            <div class="completar">
                <label for="senha"></label>
                <input class="input" type="password" id="SENHA" placeholder=" SENHA"/>
            </div>

            <ion-button Class=" button-rg" expand="block">ENTRAR</ion-button>
            </form>
            
            <div class="texto">
                <p>NÃO TEM CONTA  <a href="http://localhost:8100/registro"> <b>REGISTRE-SE </b></a></p>
            </div>
        </div>
    </ion-content>
    
</body>
